nav {
  text-align: center;
  background-color: black;
  position: fixed;
  width: 100%

}

.nav-wrapper li {
  display: inline;
  padding: 40px

}

.nav-wrapper a {
  text-decoration: none;
  color: red;

}

.nav-wrapper a:hover {
  background-color: darkgrey

}

#home {
  background-color: aqua;
  height: 200px;
  padding: 50px 20px
}

#home img {
  height: 200px;
  width: 50%;
}

#about {
  background-color: yellow;
  height: 700px;
  padding: 50px 20px
}

#about img {
  height: 700px;
  width: 50%;
}

#resume {
  background-color: red;
  height: 700px;
  padding: 50px 20px
}

#resume img {
  height: 700px;
  width: 50%;
}

#contact {
  background-color: lightgreen;
  height: 700px;
  padding: 50px 20px
}

#contact img {
  height: 700px;
  width: 50%;
}

#other {
  background-color: orange;
  height: 700px;
  padding: 50px 20px
}

#other img {
  height: 700px;
  width: 50%;
}

p {
  position: absolute;
  right: 400px;
  font-size: 50px;
}

img {
  box-shadow: 5px 5px 1px 5px black;
}
