#homepage{
 font-size:50%;
 padding-bottom: 25px;
 padding-top: 25px;
 background-image: url("TFBs4uN.jpg");
 background-position: center;
 background-size: cover;
 position: relative;
}

h2{
  font-family: "Impact", Times, serif;
 color: aqua;
}

.nav-item{
  text-align: center;
  padding: 0px 20px;
}

.nav-link-dropdown{
  text-align: center;
  margin-top: 50px;
}

body{
  background-color: black;
  color: white;
}

.container-fluid{
  text-align: center;

}

.container{

  text-align: center;
  margin-left: 0px;
  width: 65.5%;
}

.col-sm{
  margin-right: 10px;
  background-color: darkgrey;
  width:50%;
  height:280px;
}

.nav-link{

	color: red;

}

.nav-link-dropdown{

	color: red;

}

.divider{
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  color: #28a745;
  font-size: 30px;
}

 nav {
  text-align: center;
  background-color: darkgrey;
  position: relative;

}


.nav-wrapper li {
  display: inline;
  padding: 40px;
  width: 50%
}

.nav-wrapper a {
  text-decoration: none;
  color: red;

}

.nav-wrapper a:hover {
  background-color: white

}

@media only screen and (max-width: 600px) {

  #info{
    font-size: 20.5px
  }

  .owngame{
    border-bottom: 6px solid lightgrey;
    padding-bottom: 10px;
    padding-top: 10px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;

  }

  #Engine .Engine-grid-container{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto;
    border: 5px solid lightgrey;
  }

  .company-list ul{
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 20px;
  }

  .company-list li{
    display: inline;
  }

  #action {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    border-bottom: 6px solid red;
  }

  #adventure {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    border-bottom: 6px solid red;
  }

  #FPS{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    border-bottom: 6px solid red;
  }

  #fighting{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    border-bottom: 6px solid red;
}

  img {

        min-width: 200px;

  }
  #Gamepage{

    padding-bottom: 25px;
    padding-top: 25px;
    font-size:50%;
    background-image: url("TFBs4uN.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    font-size: 50px;
  }

}


@media only screen and (min-width: 600px) {
  #info{
    font-size: 20.5px
  }

  #companies .company-list{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto;
  }

  .owngame{
    border-bottom: 6px solid lightgrey;
    padding-bottom: 10px;
    padding-top: 10px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;


  }

  .company-list ul{
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 20px;
  }

  .company-list li{
    display: inline;
  }

  #Engine .Engine-grid-container{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    border: 5px solid lightgrey;
  }

  #action {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    border-bottom: 6px solid red;
  }

  #adventure {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    border-bottom: 6px solid red;
  }

  #FPS{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    border-bottom: 6px solid red;
  }

  #fighting{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    border-bottom: 6px solid red;
  }
  img {

        max-width: 65%;

  }
  #Gamepage{

    padding-bottom: 25px;
    padding-top: 25px;
    font-size:50%;
    background-image: url("TFBs4uN.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    font-size: 50px;
  }

}


@media only screen and (min-width: 768px){
  #info{
    font-size: 19px
  }

  .owngame{
    border-bottom: 6px solid aqua;
    padding-bottom: 10px;
    padding-top: 10px;
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: auto auto auto;

  }

  .company-list ul{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
  }

  .company-list li{
    display: inline;
  }

  #Engine .Engine-grid-container{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
    border: 5px solid lightgrey;
  }

  #action {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
    border-bottom: 6px solid red;
  }

  #adventure {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
    border-bottom: 6px solid red;
  }

  #FPS{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
    border-bottom: 6px solid red;
  }

  #fighting{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
    border-bottom: 6px solid red;
}
  img {

        max-width: 75%;

  }
  #Gamepage{

    padding-bottom: 25px;
    padding-top: 25px;
    font-size:50%;
    background-image: url("TFBs4uN.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    font-size: 75px;
  }

}

@media only screen and (min-width: 992px){

  #info{
    font-size: 19px
  }

  .owngame{
    border-bottom: 6px solid aqua;
    padding-bottom: 10px;
    padding-top: 10px;
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: auto auto auto;

  }

  .company-list ul{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
  }

  .company-list li{
    display: inline;
  }

  #Engine .Engine-grid-container{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto auto;
    border: 5px solid lightgrey;
  }

  #action {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
    border-bottom: 6px solid red;
  }

  #adventure {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
    border-bottom: 6px solid red;
  }

  #FPS{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
    border-bottom: 6px solid red;
  }

  #fighting{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
    border-bottom: 6px solid red;
  }


  img {

        max-width: 75%;

  }
  #Gamepage{

    padding-bottom: 25px;
    padding-top: 25px;
    font-size:50%;
    background-image: url("TFBs4uN.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    font-size: 75px;
  }

}

@media only screen and (min-width: 1200px){

  #info{
    font-size: 18px
  }

  .company-list ul{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
  }

  .company-list li{
    display: inline;
  }

  .owngame{
    border-bottom: 6px solid red;
    padding-bottom: 10px;
    padding-top: 10px;
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: auto auto auto auto;

  }

  #Engine .Engine-grid-container{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto auto auto;
    border: 5px solid lightgrey;
  }

  #action {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto auto;
    border-bottom: 6px solid red;
  }

  #adventure {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto auto;
    border-bottom: 6px solid red;
  }

  #FPS{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto auto;
    border-bottom: 6px solid red;
  }

  #fighting{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto auto;
    border-bottom: 6px solid red;
  }


  img {

        max-width: 100%;

  }
  #Gamepage{

    padding-bottom: 25px;
    padding-top: 25px;
    font-size:25%;
    background-image: url("TFBs4uN.jpg");
    background-position: center;
    background-size: cover;
    position: relative;

  }
}




#Game .grid-item{
  text-align: center;
}

.Engine-grid-container .grid-item{

  border-left: 5px solid lightgrey;
  border-bottom: 5px solid lightgrey;

}

#companies .com-feature{
  color: black;
  background-color: lightgrey;
}

.com-feature{
  border: 6px solid red;

}

#companies .company-list{
  /* background-image: url("4ac9eeac2bb687720bc0a844c56f5fa8.jpg"); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.small-menu {
  margin-left: 100px
}

#Engine{
  text-align: center;
}
